.cards-wrapper {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1.25rem; /* Adjusting to rem for flexibility */
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 1.25rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 30%; 
  margin-bottom: 1.25rem; 
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.card p {
  color: #777;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.card h3 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1.25rem;
}

.card-icon {
  color: black;
  font-size: 2rem;
  display: inline;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-card-primary {
  padding: 10px 20px;
  background: var(--primaryColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-card-primary:hover {
  background: var(--hoverColor);
  color: var(--blackColor);
}

/* Media Queries for responsive design */

@media (max-width: 1024px) {
  .card {
    flex: 1 1 45%; 
    max-width: 45%; 
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin-bottom: 1.25rem; 
  }
  .cards-wrapper {
    padding: 1rem; 
  }
}
